html
  head
    title new Dance Acedemy
    block scripts
    block style   
  body
    navbar
     ul#navbar
      div#logo
        img(src="/static/lg.jpg")
        div.c RDA
      li #[a(href="/home") Home]
      li #[a(href="/") About]
      li #[a(href="/") Services]
      li #[a(href="/") Class Info]
      li #[a(href="/contact") Contact Us]
    block content
    Footer#foot
      | Copyright © 2019 newAcademy.com | All Rights Reserved 

      